.header {
  height: 60px;
  border: 1px solid $orange;

  .header-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .logo {
    width: 150px;

    img {
      width: 100%;
    }
  }

  .menu {
    position: relative;
    height: 100%;
    line-height: 60px;
    font-size: 0;
  }
  .menu__item-blog {
    display: inline-block;
    margin-right: 14px;
    .menu__link{
      color: $black;
    }
  }

  .menu__button {
    color: $white;
    background: $orange;
    font-size: 14px;
    width: 136px;
    text-align: center;
    position: relative;
    padding-right: 10px;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    &:hover .menu__list {
      display: block;
    }

  }


  .menu__list {
    display: none;
    position: absolute;
    top: 59px;
    right: 0;
    line-height: normal;
    margin: 0;
    background: $blue;
    width: 100% ;
  }
  .menu__item{
    padding: 10px 0;
  }
  .menu__link{
    font-size: 14px;
    text-decoration: none;
  }

}