// Global CSS


/* vars */

$orange: #ff8315;
$blue: #1fb4fe;
$white: #ffffff;
$white-20: rgba(255, 255, 255, 0.2);
$black: #333333;
$gray: #828282;
$light-gray: #bdbdbd;
$-rating-star: #f2c94c;
$slider-arrow: #2d9cdb;

/* /vars */


*{
  box-sizing: border-box;
}

body {
  font-size: 12px;
}



.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
/*-*/

.container-wrapper {
  max-width: 1440px;
  padding: 0 150px;
  display: block;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.triangle{
  &:before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    top: -3px;
    bottom: 0;
    margin: auto 0;
    right: 15px;
  }
}