// Variables

//Colors

$default-color: 		      #000000;
$accent-color:			      #ff8300;
$color-overlay:			      #0f0f0f;

$white:                    #fff;
$black:                    #000;
$grey:                     #333;
$iron:                     #f2f2f2;
$snow:                     #f9f9f9;
$solitude:                 #E1E8EE;
$shuttleGrey:              #5E6977;
$nero:                     #202020;
$spindle:                  #bfc7ce;
$ShuttleGreyDark:          #545e6b;
$baliHai:                  #86939e;
$arsenic:                  #43484d;
$curiousBlue:              #358ED7;
$summerSky:                #509fd1;
$mantis:                   #7dc855;
$yellowGreen:              #7FCC2B;



//Font import
$font-light: Gotham-Light, sans-serif;
$font-regular: Gotham-Regular, sans-serif;
$font-medium: Gotham-Medium, sans-serif;
$font-bold: Gotham-Bold, sans-serif;
$font-black: Gotham-Black, sans-serif;
$font-ultra: Gotham-Ultra, sans-serif;


@font-face {
  font-family: 'Gotham-Light';
  src: url('/dist/fonts/GothamNarrowLight.woff') format('woff'),
  url('/dist/fonts/GothamLight.ttf')  format('truetype')
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('/dist/fonts/GothamBold.woff') format('woff'),
  url('/dist/fonts/GothamBold.ttf')  format('truetype')
}

@font-face {
  font-family: 'Gotham-Black';
  src: url('/dist/fonts/GothamNarrow-Black.woff') format('woff'),
  url('/dist/fonts/GothamBlack.ttf')  format('truetype')
}

@font-face {
  font-family: 'Gotham-Ultra';
  src: url('/dist/fonts/GothamUltra.woff') format('woff'),
  url('/dist/fonts/GothamUltra.ttf')  format('truetype')
}


//Font-size

$font-size-small:          12px;
$font-size-regular:        16px;
$font-size-medium:         18px;
$font-size-large:          22px;
$font-size-x-large:        32px;
$font-size-xx-large:       48px;
$font-size-xxx-large:      60px;


//Media Queries

$mobile-small:	           240;
$mobile-large:	           320;
$tablet-small:	           480;
$tablet-large:	           768;
$screen-small:	           1024;
$screen-large:	           1280;


//menu font-size

$menu-text-color:          $iron;
$menu-font-size:           $font-size-medium;


//text styles

$text-color:               $arsenic;


$title-color:              #404147;


//btn

$btn-color:               #1d1d1b;
$btn-border-color:        #1d1d1b;

//footer colors

$footer-text-color:        $white;
$footer-link-color:        $white;
$footer-title-font-size:   $font-size-medium;


$main-theme-color:         $yellowGreen;
$text-color:               $nero;

$link-text-color:          $white;
$link-text-hover-color:    $white;



$button-bg:                 $yellowGreen;
$button-bg-hover:           $yellowGreen;
$button-text-color:         $white;
$button-text-hover-color:   $white;