<header class="header">
    <div class="container-wrapper">
        <div class="header-container container">
            <div class="logo">
                <a href="./index.html"> <img src="img/logo.png" alt="logo"></a>
            </div>

            <nav class="menu">
                <div class="menu__item-blog"> <a class="menu__link" href="#">Blog</a></div>
                <div class="menu__button triangle">Destinations
                    <ul class="menu__list list-unstyled ">
                        <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
                        <li class="menu__item"><a class="menu__link" href="#">About</a></li>
                        <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
</header>